body {
  margin:0;
  font-family: 'Taviraj';
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.bg-img {
  background-image: url('https://user-images.githubusercontent.com/80693993/236562789-272ba7b6-c82d-4f1c-abdc-6dfc94db385b.jpg');
  min-height: 380px;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topnav {
  overflow: hidden;
  float: right;
}
.topnav a {
  float: left;
  color: #020202;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  color: black;
}
.text-block {
  position: absolute;
  top: 3rem;
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 15rem;
}
.btn-first {
  position:  relative;
  background-color: rgb(122, 103, 94);
  color: white;
  float: left;
  font-size: 0.8rem;
  padding: 12px 3rem;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}
.btn-second {
  background-color: rgb(122, 103, 94);
  color: white;
  top: 19rem;
  left: 2%;
  font-size: 0.8rem;
  padding: 12px 3rem;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.btn-filter{
  background-color: rgb(122, 103, 94);
  color: white;
  font-size: 0.8rem;
  padding: 12px 3rem;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}
.left {
  float: left;
  width: 50%;
}
.right {
  float: right;
  width: 30%;
  text-align: justify;
  padding-right: 1rem;
}
.round-image {
  background-image: url();
  border-radius: 50%;
  height: 100%;
  width: 80%;
  margin-left: -20%;
  object-fit: cover;
  margin-top: 5%;
}


.progress-section {
  background: #f5f5f5;
  padding: 50px 0;
}

.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.progress {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.progress .value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress .progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip: rect(0, 200px, 200px, 100px);
}

.progress .progress-bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  clip: rect(0, 100px, 200px, 0);
  background: #2196f3;
}

.progress .progress-label {
  margin-top: 20px;
}











.filter-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-button {
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  background-color: #f8f8f800;
  color: #e1e1e1;
}

.img-filter{
  width: 20%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 300px;
}

.card img {
  max-width: 100%;
}

.card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.filter{
  background-color: #68582ef8;
}

.title-filter{
  text-align: center;
  color: #f1efef;
}
footer {
  background-color: #2b2828;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left p {
  margin: 0;
  color: rgb(235, 228, 228);
}

.footer-right a {
  margin-left: 10px;
}

.footer-right i {
  font-size: 20px;
  color: rgb(235, 228, 228);
}

.newsletter {
  background-color: #f2f2f2;
  padding: 50px;
  text-align: center;
}

.newsletter h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.newsletter p {
  font-size: 16px;
  margin-bottom: 30px;
}

.newsletter form {
  display: flex;
  justify-content: center;
}

.newsletter input[type="email"] {
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: none;
  width: 300px;
}

.newsletter button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.newsletter button:hover {
  background-color: #555;
}
