body {
  margin:0;
  font-family: 'Taviraj';
  background-color: #f5f1e5;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.bg-img {
  background-image: url('https://user-images.githubusercontent.com/80693993/236562789-272ba7b6-c82d-4f1c-abdc-6dfc94db385b.jpg');
  min-height: 380px;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topnav {
  overflow: hidden;
  float: right;
}
.topnav a {
  float: left;
  color: #020202;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  color: black;
}
.text-block {
  position: absolute;
  top: 3rem;
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 15rem;
}
.btn-first {
  position:  relative;
  background-color: #726c54;
  color: white;
  float: left;
  font-size: 0.8rem;
  padding: 12px 3rem;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}
.btn-second {
  background-color: #726c54;
  color: white;
  top: 19rem;
  left: 2%;
  font-size: 0.8rem;
  padding: 12px 3rem;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.btn-filter{
  background-color: #726c54;
  color: white;
  font-size: 0.8rem;
  padding: 12px 3rem;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}
.container-burguer {
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: relative;
}

.imagem-burguer {
	width: 50%;
	height: auto;
  border-radius: 10rem;
}

.text-burguer {
	width: 25rem;
	padding-left: 50px;
	position: relative;
	z-index: 1;
}

.texto-burguer h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

.texto-burguer p {
	font-size: 18px;
	margin-bottom: 30px;
}

.wave {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 150px;
	background: url('wave.svg') repeat-x;
	transform: rotate(180deg);
	z-index: -1;
}

.statistics{
  text-align: center;
  color: #7a695c;
}

.grid {
  display: grid;
  flex-direction: column-reverse;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  background-color: #f5f1e5;
  margin-top: 2rem;
}

.text{
  color: #a88d7a;
}
.circle-chart__circle {
  animation: circle-chart-fill 2s reverse; /* 1 */ 
  transform: rotate(-90deg); /* 2, 3 */
  transform-origin: center; /* 4 */
}
.circle-chart__info {
  animation: circle-chart-appear 2s forwards;
  opacity: 0;
  transform: translateY(0.3em);
}

@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}





.filter-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-button{
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  color: #e1e1e1;
  background-color: #726c54;
}

.img-filter{
  width: 20%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 300px;
}

.card img {
  max-width: 100%;
}

.card h3, h2{
  font-size: 24px;
  margin-bottom: 10px;
  color: #796449;
}

.card p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #796449;
}

.filter{
  background-color: #726c54;
}

.title-filter{
  text-align: center;
  color: #f1efef;
}


footer {
  background-color: #222222;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left p {
  margin: 0;
  color: rgb(235, 228, 228);
  max-width: 20rem;
}

.footer-right a {
  margin-left: 10px;
}

.footer-right i {
  font-size: 20px;
  color: rgb(235, 228, 228);
}

.newsletter {
  background-color: #f5f1e5;
  padding: 50px;
  text-align: center;
}

.newsletter h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #726c54;
}

.newsletter p {
  font-size: 16px;
  margin-bottom: 30px;
  color: #736e58;
}

.newsletter form {
  display: flex;
  justify-content: center;
}

.newsletter input[type="email"] {
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: none;
  width: 300px;
}

.newsletter button {
  padding: 10px 20px;
  background-color: #726c54;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.newsletter button:hover {
  background-color: #555;
}
